*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
.font_Merriweather{
    font-family: 'Merriweather', serif;
}
.container{
    max-width: 1380px;
}
.container_padding{
    padding: 80px 0 67px 0;
}
.wrapper_container_main{
    max-width: 1070px;
    width: 100%;
    margin: auto;

    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
}
.container_main{
    max-width: 850px;
    width: 100%;
    margin: auto;
}
.img{
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.figcaption_main{
    margin-top: 20px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #212121;
}
.paragraph_mb{
    margin-bottom: 20px;
}
.paragraph_mt{
    margin-top: 80px;
}
.additional_picture{
    max-width: 410px;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 30px;
}
.additional_text{
    max-width: calc( 100% - 110px);
}
.figcaption_additional{
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    margin-top: 14px;
}
.separator_decor{
    width: 112px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.separator_decor img{
    width: 18px;
    height: 100%;
    max-height: 32px;
}
.important_message_block{
    margin-bottom: 50px;
}
.important_message_block .heading{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    max-width: 630px;
    margin: auto;
    margin-bottom: 20px;
}
.article_rating__text{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}
.article_rating_button{
    max-width: 292px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.article_rating_button label{
    max-width: 30%;
}
.button_icon_img{
    width: 64px;
    height: 64px;
    -o-object-fit: contain;
       object-fit: contain;
    transition: 2s;
    opacity: 1;    
}
.label_icon:active{
    background-color: red;
    box-shadow: none;
    outline: none;
}
.label_icon:focus{
    background-color: purple;
    box-shadow: none;
    outline: none;
}
.label_icon:focus{
    background-color: yellow;
    box-shadow: none;
    outline: none;
}
.label_icon:hover .button_icon + .button_icon_img{
    opacity: 1;
}
.button_icon:not(:checked) + .button_icon_img{
    opacity: 0.5;
}
.article_rating_button .button_icon{
   width: 1px;
   height: 1px;
   overflow: hidden;
   clip: rect(0 0 0 0);
   position: absolute;
}
.slider_section_title{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    padding: 0 20px;
}
.slider_section_mt{
    margin-top: 110px;
}
.slider_section_slider{
    margin-top: 44px;
}
.slider_section_slider.center .slider_item{
    max-width: 850px;
    width: 100%;
    height: 500px;
    margin: 0 15px;
}
.slider_section_slider.center.slick-initialized.slick-slider{
    position: relative;
}
.slider_section_slider.center .slick-arrow{
    width: 50px;
    height: 50px;
    border: solid 3px #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    position: absolute;
    bottom: 50px;
    z-index: 2;
}
.slider_section_slider.center .slick-arrow:hover{
    border-color: skyblue;
}
.slider_section_slider.center .slick-arrow:focus{
    outline: none;
}
.slider_section_slider.center .slick-prev{
    background-image: url('../img/prevArrow.svg');
    left: 50px;
}
.slider_section_slider.center .slick-next{
    background-image: url('../img/nextArrow.svg');
    right: 50px;
}
.slider_item img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

@media screen and (max-width: 991px){
    .imitation_container_main{
        max-width: 850px;
        margin: auto;
    }
    .additional_text{
        max-width: 100%;
    }
    .additional_picture{
        margin: auto;
    }
    .slider_section_slider.center .slider_item {
        height: 400px;
    }
}
@media screen and (max-width: 767px){
    .slider_section_slider.center .slider_item {
        height: 350px;
    }
}
@media screen and (max-width: 575px){
    .slider_section_slider.center .slider_item {
        height: 280px;
    }
    .slider_section_title {
        font-size: 34px;
        line-height: 40px;
    }
}
@media screen and (max-width: 475px){
    .slider_section_slider.center .slider_item {
        height: 180px;
    }
}
