html,
body {
	font-family: $natoSans;
	color: $color-primary-100;
}

body {
	overflow-x: hidden;
}

// Typography
h1,
.h1 {
	@include h1;
}

h2,
.h2 {
	@include h2;
}

h3,
.h3 {
	@include h3;
}

h4,
.h4 {
	@include h4;
}

h5,
.h5 {
	@include h5;
}

h6,
.h6 {
	@include h6;
}

.layout-dark {
	color: $color-primary-200;
}

//Forms
.form-control,
input[type="text"],
input[type="number"],
input[type="email"] {
	@include forme;

	&:focus {
		box-shadow: none;
		border-color: $color-secondary-200;
		color: $color-primary-100;
	}

	&.is-valid,
	.was-validated &:valid {
		border-color: $color-secondary-700;
		background-image: url(../../img/icon/done_light.svg);
		background-size: 20px 20px;
	}

	&.is-invalid,
	.was-validated &:invalid {
		border-color: $color-primary-300;
		background-image: url(../../img/icon/close_round_light.svg);
		background-size: 20px 20px;
	}
}

select,
.form-select {
	@include forme;
	color: $color-primary-100;
	background-image: url(/img/icon/selectArrow.svg);

	&.is-valid:not([multiple]):not([size]),
	&.is-valid:not([multiple])[size="1"],
	.was-validated &:valid:not([multiple]):not([size]),
	.was-validated &:valid:not([multiple])[size="1"] {
		padding-right: 4.125rem;
		background-image: url("/img/icon/done_light.svg"),
			url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
		background-position: right 0.75rem center, center right 2.25rem;
		background-size: 20px 20px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
	}

	&.is-invalid:not([multiple]):not([size]),
	&.is-invalid:not([multiple])[size="1"],
	.was-validated &:invalid:not([multiple]):not([size]),
	.was-validated &:invalid:not([multiple])[size="1"] {
		border-color: $color-primary-300;
		background-image: url("/img/icon/close_round_light.svg"),
			url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
		background-size: 20px 20px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
	}
}

textarea.form-control,
textarea {
	@include forme;
	resize: none;
	height: 250px;
}

.invalid-feedback {
	@include forme-feedback;
	color: $color-primary-300;
}

.valid-feedback {
	@include forme-feedback;
	color: $color-secondary-700;
}

//Buttons
.btn {
	@include btn;
}

.btn:active,
.btn:active:focus {
	outline: transparent;
	box-shadow: none;
}

.btn.disabled,
.btn:disabled {
	opacity: 0.4;
}

.btn-lg {
	@include btn-lg;
}

.btn-dark {
	@include btn-dark;
}

.btn-dark:active,
.btn-dark:hover:active {
	@include btn-dark;
}

.btn-dark:hover {
	color: $color-primary-100;
	background-color: transparent;
	border-color: $color-primary-100;
}

.btn-dark:focus {
	@include btn-dark;
	box-shadow: 0 0 0 0.25rem rgba($color-primary-100, 50%);
}

.btn-dark.disabled,
.btn-dark:disabled {
	@include btn-dark;
}

.btn-danger {
	@include btn-danger;
}

.btn-danger:active,
.btn-danger:hover:active {
	@include btn-danger;
}

.btn-danger:hover {
	color: $color-primary-300;
	background-color: transparent;
	border-color: $color-primary-300;
}

.btn-danger:focus {
	@include btn-danger;
	box-shadow: 0 0 0 0.25rem rgba($color-primary-300, 50%);
}

.btn-danger.disabled,
.btn-danger:disabled {
	@include btn-danger;
}

.btn-light {
	@include btn-light;
}

.btn-light:active,
.btn-light:hover:active {
	@include btn-light;
}

.btn-light:hover {
	color: $color-primary-200;
	background-color: transparent;
	border-color: $color-primary-200;
}

.btn-light:focus {
	@include btn-light;
	box-shadow: 0 0 0 0.25rem rgba($color-primary-200, 50%);
}

.btn-light.disabled,
.btn-light:disabled {
	@include btn-light;
}

.btn-outline-light {
	@include btn-outline-light;
}

.btn-outline-light:active,
.btn-outline-light:hover:active {
	@include btn-outline-light;
}

.btn-outline-light:hover {
	color: $color-primary-100;
	background-color: $color-primary-200;
	border-color: $color-primary-200;
}

.btn-outline-light:focus {
	@include btn-outline-light;
	box-shadow: 0 0 0 0.25rem rgba($color-primary-200, 50%);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
	@include btn-outline-light;
}

//Checkboxes
.form-check {
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	&-inline {
		display: inline-flex;
	}

	.form-check-label {
		margin-left: 12px;
		font-size: 16px;
		line-height: 1.6;
		color: $color-secondary-200;
	}
}

.form-check-input {
	width: 20px;
	height: 20px;
	border: solid 2px $color-secondary-200;

	.form-check & {
		margin: 0;
		float: none;
		flex-shrink: 0;
		margin-top: 2px;
	}

	.was-validated &:checked:not(:disabled),
	&:checked:not(:disabled) {
		background-color: $color-primary-300;
		border-color: $color-primary-300;
		box-shadow: none;
	}

	&:checked:disabled {
		background-color: $color-secondary-200;
		border-color: $color-secondary-200;
		box-shadow: none;
	}

	&:focus {
		border-color: $color-secondary-200;
		outline: 0;
		box-shadow: 0 0 0 0.25rem rgb($color-secondary-200, 25%);
	}

	&:checked:not(:disabled) + .form-check-label {
		color: $color-primary-300;
	}
}

//select fore sort
.wrapper-sorting-select {
	display: flex;
	align-items: center;
	font-size: 12px;

	& label {
		margin: 0 16px 0 0;
		flex-shrink: 0;
		order: -2;
	}

	.arrow-sort {
		width: 13px;
		height: 13px;
		order: -1;

		path {
			fill: $color-secondary-200;
		}
	}

	.sorting-select[data-sort-select="ascending"] ~ .arrow-sort path:first-child {
		fill: $color-primary-300;
	}

	.sorting-select[data-sort-select="descending"] ~ .arrow-sort path:last-child {
		fill: $color-primary-300;
	}
}

//card product
.product-card {
	border: 0;
	border-radius: 0;
	background-color: $color-secondary-500;
	position: relative;

	&:hover {
		opacity: 0.9;
		.card-product-name {
			text-decoration: underline;
		}
	}

	&[data-sold="true"] {
		pointer-events: none;
		user-select: none;

		* {
			pointer-events: none;
			user-select: none;
		}

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: rgba($color-primary-200, 40%);
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}

	&[data-new="true"] {
		.card-img:after {
			content: attr(data-new-text);
			color: $color-primary-200;
			background-color: $color-primary-100;
			border-radius: 0 15px 15px 0;
			font-size: 12px;
			line-height: 1.5;
			padding: 5px 20px;
			bottom: 0;
			left: 0;
			position: absolute;
			max-width: 75%;
			pointer-events: none;
			z-index: 1;
			overflow: hidden;
		}
	}

	&[data-sold="true"] {
		.card-img::before {
			content: attr(data-sold-text);
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 90%;
			max-height: 90%;
			transform: translate(-50%, -50%);
			font-size: 50px;
			line-height: 1.5;
			color: $color-primary-200;
			text-transform: uppercase;
			font-family: $poppins;
			z-index: 2;
			overflow: hidden;
		}
	}

	.card-img {
		width: 100%;
		height: 0;
		padding-top: 67.8%;
		position: relative;

		img {
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.card-body {
		display: flex;
		flex-direction: column;
		color: $color-secondary-200;
		padding: 20px 20px 35px 20px;
		box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);

		:last-child {
			margin-bottom: 0;
		}

		.accent-color {
			color: $color-primary-100;
		}

		.card-title {
			@include h6;
			margin-bottom: 13px;

			.product-year {
				margin-right: 8px;
			}
		}

		.card-description {
			margin-bottom: 35px;
		}

		.card-price {
			font-size: 20px;
			line-height: 1.35;
			font-weight: 500;
			margin-top: auto;

			&::before {
				content: attr(data-content);
				display: inline-block;
			}
		}

		.option-list {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			font-weight: 300;

			& .option-item:not(:last-of-type)::after {
				content: "|";
				margin: 0 8px;
			}
		}
	}
}

//Accordion
.accordion {
	&-item {
		border: none;
		background-color: transparent;

		&.open {
			box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
			position: relative;
			z-index: 1;
		}

		&.hide-border {
			.accordion-button {
				border-bottom-color: transparent;
			}
		}

		&:first-of-type .accordion-button {
			border-radius: 0;
		}
	}

	&-button {
		@include tabs;
		color: $color-primary-100;
		padding: 25px;
		border: none;
		border-bottom: 1px solid $color-secondary-400;
		border-radius: 0;
		font-weight: 500;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out, border-radius 0.15s ease, padding 0.15s ease;

		@media screen and (max-width: 767px) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&::after {
			background-image: url(/img/icon/accordionOpen.svg);
			width: 11px;
			height: 11px;
			background-size: contain;
			background-position: center;
		}

		&:not(.collapsed)::after {
			background-image: url(/img/icon/accordionClose.svg);
			transform: rotate(-180deg);
		}

		&:focus {
			box-shadow: none;
			border-color: $color-primary-300;
		}

		&:not(.collapsed) {
			color: $color-primary-300;
			font-weight: 700;
			border-color: transparent;
			box-shadow: none;
			background-color: $color-secondary-500;
			padding-left: 40px;
			padding-right: 40px;
		}

		&:hover {
			z-index: auto;
		}
	}

	&-header {
		font-family: $natoSans;
	}

	&-collapse {
		background-color: $color-secondary-500;
	}

	&-body {
		padding: 25px 40px;

		@media screen and (max-width: 767px) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

//other
.bg-img-full {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	max-width: 1270px;

	@media screen and(max-width: 575px) {
		padding: 0 20px;
	}
}

svg,
svg path {
	transition: fill 0.5s ease-in-out;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

.bg-cp1 {
	background-color: $color-primary-100;
}
