@mixin h1 {
	font-family: $natoSans;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.36;

	@media screen and (max-width: 768px) {
		font-size: 42px;
	}

	@media screen and (max-width: 576px) {
		font-size: 35px;
	}
}

@mixin h2 {
	font-family: $poppins;
	font-weight: 700;
	font-size: 50px;
	line-height: 1.5;

	@media screen and (max-width: 768px) {
		font-size: 42px;
	}

	@media screen and (max-width: 576px) {
		font-size: 35px;
	}
}

@mixin h3 {
	font-family: $natoSans;
	font-weight: 600;
	font-size: 30px;
	line-height: 1.5;

	@media screen and (max-width: 576px) {
		font-size: 24px;
	}
}

@mixin h4 {
	font-family: $natoSans;
	font-weight: 600;
	font-size: 25px;
	line-height: 1.36;

	@media screen and (max-width: 576px) {
		font-size: 22px;
	}
}

@mixin h5 {
	font-family: $natoSans;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.35;
}

@mixin h6 {
	font-family: $natoSans;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.35;
}

@mixin btn {
	border-radius: 15px;
	border: solid 2px transparent;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.36;
	padding: 10px 20px;
	color: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

@mixin btn-lg {
	font-size: 20px;
	line-height: 1.35;
	font-weight: 600;
	padding: 10px 30px;
}

@mixin btn-dark {
	color: $color-primary-200;
	background-color: $color-primary-100;
	border-color: $color-primary-100;
}

@mixin btn-danger {
	color: $color-primary-200;
	background-color: $color-primary-300;
	border-color: $color-primary-300;
}

@mixin btn-light {
	color: $color-primary-100;
	background-color: $color-primary-200;
	border-color: $color-primary-200;
}

@mixin btn-outline-light {
	color: $color-primary-200;
	background-color: transparent;
	border-color: $color-primary-200;
}

@mixin forme {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.33;
	height: 48px;
	padding: 12px 16px;
	border-radius: 15px;
	border: solid 2px $color-secondary-300;
	color: $color-secondary-200;
	background-color: transparent;

	&::placeholder {
		color: $color-secondary-200;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $color-secondary-200;
	}

	&::-ms-input-placeholder {
		color: $color-secondary-200;
	}
}

@mixin forme-feedback {
	font-size: 10px;
	line-height: 1;
	margin-top: 8px;
	padding-left: 18px;
}

@mixin links {
	font-size: 15px;
	font-weight: 500;
	color: $color-primary-100;
	transition: color 0.5s ease-in-out;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: $color-primary-300;
	}
}

@mixin tabs {
	font-size: 15px;
	font-weight: 400;
}

@mixin span {
	font-size: 20px;
	font-weight: 500;
}

@mixin span-sm {
	font-size: 14px;
	font-weight: 300;
}
