@import "_clearFix";
@import "_variable";
@import "_mixin";
@import "_theme";

body {
	display: flex;
	flex-direction: column;
	position: relative;

	.main {
		flex-grow: 1;
	}

	header,
	footer {
		flex-shrink: 0;
	}

	.wrapper-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}
}

.header {
	padding: 18px 0;
	display: flex;
	align-items: center;

	& > :nth-child(n):not(:last-child) {
		margin-right: 40px;
	}

	&__logo-section {
		max-width: 139px;
		height: 35px;
		display: block;
		flex-shrink: 0;

		&:hover {
			path {
				fill: $color-primary-300;
			}
		}

		svg {
			width: auto;
			height: 100%;

			path {
				fill: $color-primary-200;
			}
		}
	}

	&__navigation {
		flex-grow: 1;
		justify-content: flex-end;

		@media screen and (max-width: 768px) {
			& {
				order: 2;
				width: 100%;
				margin-top: 20px;
				justify-content: center;
			}
		}
	}

	&__social-networks {
		flex-shrink: 0;
	}

	@media screen and (max-width: 768px) {
		& {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		& > :nth-child(n):not(:last-child) {
			margin-right: 0px;
		}
	}
}

.footer {
	padding: 37px 0;
	display: flex;
	align-items: center;

	& > :nth-child(n):not(:last-child) {
		margin-right: 40px;
	}

	&__logo-section {
		max-width: 191px;
		height: 48px;
		display: block;
		flex-shrink: 0;

		&:hover {
			path {
				fill: $color-primary-300;
			}
		}

		svg {
			width: auto;
			height: 100%;

			path {
				fill: $color-primary-200;
			}
		}
	}

	&__navigation {
		flex-grow: 1;
		justify-content: center;
	}

	&__social-networks {
		flex-shrink: 0;
	}

	@media screen and (max-width: 768px) {
		& {
			flex-direction: column;
		}

		& > :nth-child(n):not(:last-child) {
			margin-right: 0px;
			margin-bottom: 25px;
		}
	}
}

.social-networks {
	list-style: none;
	display: flex;

	&__item {
		display: inline-block;
		margin-right: 25px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		svg {
			width: auto;
			height: 25px;

			path {
				fill: $color-primary-200;
			}
		}

		&:hover {
			svg {
				path {
					fill: $color-primary-300;
				}
			}
		}
	}
}

.navigation {
	display: flex;

	&__link,
	&__item {
		@include links;
		margin-right: 40px;
		text-decoration: none;
		color: $color-primary-200;

		&:hover {
			text-decoration: none;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.wrapper-main-baner {
	position: relative;

	.bg-img {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-position: center right;
		background-size: cover;

		@media screen and (max-width: 575px) {
			position: relative;
			height: 0;
			padding-top: 56.25%;
		}
	}
}

.main-baner {
	padding-top: 71px;
	min-height: 688px;
	display: flex;
	flex-direction: column;
	padding: 0 15px;

	&__container {
		max-width: 58%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;

		& > .btn {
			max-width: 296px;
			margin-top: 72px;
		}

		@media screen and (max-width: 1239px) {
			max-width: 75%;
		}

		@media screen and (max-width: 768px) {
			max-width: 100%;
		}
	}

	&__titile {
		margin-bottom: 25px;
	}

	&__description {
		column-width: 42%;
		column-count: 2;
		column-gap: 15px;
		font-size: 15px;

		@media screen and (max-width: 768px) {
			columns: initial;
			max-width: 75%;

			& > span {
				display: inline-block;
			}

			& :not(:last-child):nth-child(n) {
				margin-bottom: 15px;
			}
		}

		@media screen and (max-width: 575px) {
			max-width: none;
		}
	}

	@media screen and (max-width: 1239px) {
		background-color: rgba($color-primary-100, 33%);
	}

	@media screen and (max-width: 992px) {
		padding-top: 110px;
	}

	@media screen and (max-width: 575px) {
		padding: 20px 15px 35px 15px;
		min-height: auto;
		background-color: rgba($color-secondary-200, 100%);
	}
}

.title-section {
	@include h2;
	font-size: $poppins;
	color: $color-secondary-100;
	padding: 100px 0 72px 0;
	text-align: center;
	text-transform: uppercase;

	@media screen and (max-width: 992px) {
		padding: 70px 0;
	}

	@media screen and (max-width: 768px) {
		padding: 40px 0;
	}

	@media screen and (max-width: 575px) {
		padding: 25px 0;
	}
}

.catalog {
	&__options-section {
		margin-bottom: 20px;
	}

	&__filter {
		margin: 0 -15px;

		@media screen and (max-width: 767px) {
			margin: 0;
		}
	}

	&__additional-otions {
		display: flex;
		justify-content: space-between;

		.form-check {
			font-size: 12px;
		}

		@media screen and (min-width: 992px) {
			margin-top: 25px;
		}
	}

	&__result-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;

		@media screen and (max-width: 575px) {
			margin: 0;
		}

		.product-card {
			width: calc(25% - 20px);
			margin: 0 10px 20px 10px;

			@media screen and (max-width: 992px) {
				width: calc(33% - 20px);
			}

			@media screen and (max-width: 767px) {
				width: calc(50% - 20px);
			}

			@media screen and (max-width: 575px) {
				width: 100%;
				margin: 0 0 20px 0;
			}
		}
	}
}

.filter {
	display: flex;

	@media screen and (max-width: 992px) {
		flex-wrap: wrap;
	}

	&__select-section {
		width: 75%;
		display: flex;
		padding: 0 5px;

		.filter__select-wrapper {
			width: 100%;
			padding: 0 10px;

			@media screen and (max-width: 992px) {
				& {
					width: 50%;
					margin-bottom: 15px;
				}
			}

			@media screen and (max-width: 575px) {
				& {
					width: 100%;
					margin-bottom: 15px;
					padding: 0;
				}
			}
		}

		@media screen and (max-width: 992px) {
			width: 100%;
			flex-wrap: wrap;
			padding: 0;
		}
	}

	&__btn-section {
		width: 25%;
		padding: 0 15px;

		.btn {
			width: 100%;
		}

		@media screen and (max-width: 992px) {
			order: -1;
			margin-bottom: 20px;
			width: 50%;
		}

		@media screen and (max-width: 768px) {
			width: 75%;
		}

		@media screen and (max-width: 575px) {
			width: 100%;
			padding: 0;
		}
	}
}

.suitable-section {
	padding: 40px 0;
	align-items: center;
}

.accordion-section {
	max-width: 820px;
	margin: 0 auto 200px auto;

	@media screen and (max-width: 992px) {
		margin-bottom: 100px;
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 30px;
	}
}
